
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}

#influence {
	background-image:url(../img/bg.jpg);
	background-position: center;
    background-size: cover;
    background-size: 150%;
    background-position: 50% 50%;
    height: 480px;
}

#influence h1{
	color: #fff;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	font-size: 51px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
}


#influence h2{
	color: #ebdec2;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 80px;
	text-align: right;
}

#influence p{
    color: #ebdec2;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
	font-size: 17.28px;
	font-weight: 400;
    margin-top: 20px;
	text-align: right;
}

a{
    cursor: pointer;
    text-decoration: none;
} 

a:hover{
	text-decoration: none;
}

.button{
	font-weight: 400;
	text-transform: uppercase;
    background: rgba(0,0,0,.4);
    color: #f7b10a;
	border : 1px solid #c77e19;
	min-width: 180px;
    transition: background .2s,color .2s;
    text-align: center;
    user-select: none;
    padding: 12px 30px;
}

.button-container{
	margin-top: 20px;
	padding: 12px;
}

.button:hover{
	background: #b06601;
	color: #ffd36b;
}
